.home {
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
  }
  
  .data,th,td{
    border: 1px solid rgb(21, 2, 28);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Maven Pro', sans-serif;
  }

  button{
  
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  }


  

  @import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');